{% extends 'base.html' %}
{% load static%}

{% block content %}

<main class="auth-main">

    <div class="auth-hero reset-hero flow-content flex">
        <h1 class="h2 fw-bold">Password reset complete</h1>
        <p class="reset-text clr-black-50">Your password has been set. You may go ahead and log in now.</p>
        <a class="link" href="{% url 'login' %}">Login</a>
    </div>

    <aside class="auth-aside flow-content flex">
        <div class="logo">
            <img class="logo__img" src="{% static 'images/assets/logo.svg' %}" alt="logo (a blue bookmark icon)">
            <h2 class="logo__text">Attendr</h2>
        </div>
        <img class="auth-aside__img" src="{% static 'images/assets/resetpass_complete.svg' %}"
            alt="an illustration of a blonde woman sipping a drink while standing in her balcony">
    </aside>

</main>

{% endblock content %}