{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    input {
        display: block;
        margin: 0;
        padding: 0;
        font-family: inherit;
        border: 0;
        padding: 1rem;
        max-width: fit-content;
        background-color: #f4eeee;
        border-radius: var(--border-radius);
        font-size: var(--fs-100);
    }

    input::placeholder {
        color: #979797;
        font-weight: var(--fw-medium);
        font-size: var(--fs-100);
    }
</style>

<main class="auth-main">

    <div class="auth-hero reset-hero flex">
        <h1 class="h2 fw-bold">Enter new password</h1>
        <p class="reset-text clr-black-50">Please enter your new password twice so we can verify you typed it in
            correctly.</p>
        <form class="resetpass__form flow-content flex" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div>
                <label class="field-label">{{field.label}}:</label>
                {{field}}
                {% for error in field.errors %}
                <p class="form-error">• {{error}}</p>
                {% endfor %}
            </div>
            {% endfor %}
            <input class="btn forward-btn" type="submit" value="Submit" />
        </form>
    </div>

    <aside class="auth-aside flow-content flex">
        <div class="logo">
            <img class="logo__img" src="{% static 'images/assets/logo.svg' %}" alt="logo (a blue bookmark icon)">
            <h2 class="logo__text">Attendr</h2>
        </div>
        <img class="auth-aside__img" src="{% static 'images/assets/resetpass_confirm.svg' %}"
            alt="an illustration of a blonde woman sipping a drink while standing in her balcony">
    </aside>

</main>

{% endblock content %}