{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="auth-main">

    <div class="auth-hero reset-hero flow-content flex">
        <h1 class="h2 fw-bold">Password reset sent</h1>
        <p class="reset-text clr-black-50">We’ve emailed you instructions for setting your password, if an account
            exists with the email you
            entered. You should receive them shortly.</p>
        <p class="reset-text clr-black-50">If you don’t receive an email, please make sure you’ve entered the address
            you registered with, and check
            your spam folder.</p>
    </div>

    <aside class="auth-aside flow-content flex">
        <div class="logo">
            <img class="logo__img" src="{% static 'images/assets/logo.svg' %}" alt="logo (a blue bookmark icon)">
            <h2 class="logo__text">Attendr</h2>
        </div>
        <img class="auth-aside__img" src="{% static 'images/assets/resetpass_done.svg' %}"
            alt="an illustration of a blonde woman sipping a drink while standing in her balcony">
    </aside>

</main>

{% endblock content %}